<section>
  <h1 class="text-center text-main my-2">{{"ForgotPassword.Forgot Password" |translate}}</h1>

  <!-- verify Email Form -->
  @if (steps === 1) {
    <form [formGroup]="verifyEmailForm" class="bg-main-light shadow p-2 my-4 rounded-4 w-75 mx-auto" 
    (ngSubmit)="sendResetCode()"
    >
      <div class="my-2">
        <label for="email" class="form-label">{{"ForgotPassword.Email" |translate}}:</label>
        <input
          type="email"
          [ngClass]="{
            'is-invalid': verifyEmailForm.get('email')?.errors && (verifyEmailForm.get('email')?.touched || verifyEmailForm.get('email')?.dirty),
            'is-valid': verifyEmailForm.get('email')?.valid
          }"
          formControlName="email"
          class="form-control"
          id="email"
        />
        <!-- Validation -->
        @if(verifyEmailForm.get('email')?.errors &&
        (verifyEmailForm.get('email')?.touched || verifyEmailForm.get('email')?.dirty)){
        <div class="alert alert-danger mt-2">
          @if (verifyEmailForm.get('email')?.getError('required')) {
          <p>{{"ForgotPassword.Email is required" |translate}}</p>
          }@else if (verifyEmailForm.get('email')?.getError('email')) {
          <p>{{"ForgotPassword.Enter Valid Email" |translate}}</p>
          }
        </div>
        }
        </div>
      <div class="my-2">
        <button type="submit" class="btn btn-main" [disabled]="verifyEmailForm.invalid">{{"ForgotPassword.Send Reset Code" |translate}}</button>
      </div>
    </form>
  }

  <!-- verify Code Form -->
  @else if (steps === 2) {
    <form [formGroup]="verifyResetCodeForm" class="bg-main-light shadow p-2 my-4 rounded-4 w-75 mx-auto"
    (ngSubmit)="verifyResetCode()"
    >
      <div class="my-2">
        <label for="resetCode" class="form-label">{{"ForgotPassword.Reset Code" |translate}}:</label>
        <input
          type="text"
          [ngClass]="{
            'is-invalid': verifyResetCodeForm.get('resetCode')?.errors && (verifyResetCodeForm.get('resetCode')?.touched || verifyResetCodeForm.get('resetCode')?.dirty),
            'is-valid': verifyResetCodeForm.get('resetCode')?.valid
          }"
          formControlName="resetCode"
          class="form-control"
          id="resetCode"
        />
        <!-- Validation -->
        @if(verifyResetCodeForm.get('resetCode')?.errors &&
        (verifyResetCodeForm.get('resetCode')?.touched || verifyResetCodeForm.get('resetCode')?.dirty)){
        <div class="alert alert-danger mt-2">
          @if (verifyResetCodeForm.get('resetCode')?.getError('required')) {
          <p>{{"ForgotPassword.Reset Code is required" |translate}}</p>
          }@else if (verifyResetCodeForm.get('resetCode')?.getError('maxlength') || verifyResetCodeForm.get('resetCode')?.getError('minlength')) {
          <p>{{"ForgotPassword.Enter Valid Reset Code" |translate}}</p>
          }
        </div>
        }
        </div>
        <div class="my-2">
          <button type="submit" class="btn btn-main" [disabled]="verifyResetCodeForm.invalid">{{"ForgotPassword.Verify Reset Code" |translate}}</button>
        </div>
    </form>
  }

  <!-- Reset Password Form -->
  @else if (steps === 3) {
    <form [formGroup]="ResetPasswordForm" class="bg-main-light shadow p-2 my-4 rounded-4 w-75 mx-auto"
    (ngSubmit)="resetPassword()"
    >
      <div class="my-2">
        <label for="email" class="form-label">{{"ForgotPassword.Email" |translate}}:</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          readonly
          id="email"
        />
      </div>
      <div class="my-2">
        <label for="newPassword" class="form-label">{{"ForgotPassword.New Password" |translate}}:</label>
        <input
          type="password"
          [ngClass]="{
            'is-invalid': ResetPasswordForm.get('newPassword')?.errors && (ResetPasswordForm.get('newPassword')?.touched || ResetPasswordForm.get('newPassword')?.dirty),
            'is-valid': ResetPasswordForm.get('newPassword')?.valid
          }"
          formControlName="newPassword"
          class="form-control"
          id="newPassword"
        />
        <!-- Validation -->
        @if(ResetPasswordForm.get('newPassword')?.errors &&
        (ResetPasswordForm.get('newPassword')?.touched || ResetPasswordForm.get('newPassword')?.dirty)){
        <div class="alert alert-danger mt-2">
          @if (ResetPasswordForm.get('newPassword')?.getError('required')) {
          <p>{{"ForgotPassword.New Password is required" |translate}}</p>
          }@else if (ResetPasswordForm.get('newPassword')?.getError('pattern')) {
            <p>{{"ForgotPassword.Password must be at least 6 chars" |translate}}</p>
          }
        </div>
        }
      </div>
      <div class="my-2">
        <button type="submit" class="btn btn-main" [disabled]="ResetPasswordForm.invalid">{{"ForgotPassword.Reset Password" |translate}}</button>
      </div>
    </form>
  }
</section>
