.product-img{
  height: 120px;
  object-fit: cover;
  width: 120px;
  display: block;
  margin-inline: auto;
  overflow: hidden;
}

.category-img{
  height: 120px;
  object-fit: cover;
  width: 120px;
  display: block;
  margin-inline: auto;
  overflow: hidden;
}