<section class=" mx-lg-3 bg-main-light shadow p-2 my-4 rounded-2">
  <div class="d-flex flex-column flex-sm-row justify-content-between">
    <div class="">
      <h1 class="h2 text-main">{{"Cart.Shop Cart:" |translate}} </h1>
      <p class="text-main">{{"Cart.Total Price:" | translate}} {{cartDetails().totalPrice}}</p>
    </div>
    <button class="btn btn-outline-danger h-50" (click)="clearCart()"> {{"Cart.Clear Cart" | translate}}</button>
  </div>

  @for (item of cartDetails().cart; track $index) {
    <div class="row my-3">
      <!-- info -->
      <div class="infoCantainer col-sm-10 d-flex flex-column flex-sm-row gap-3 g-4">
        <div class="imageCantainer col col-sm-1">
          <img [src]="item.product.images[0]"  class="w-100" [alt]="item.product.title">
        </div>
        <div class=" col-sm-11">
          <h3 class="text-main h5 m-0">{{getLanguage() == 'ar'? item.product.title_ar : item.product.title}}</h3>
          <p class="text-muted">{{"Cart.Price:"| translate}} {{item.product.price | currency:'EGP '}}</p>
          <span class="text-danger cursor-pointer" (click)="removeProductFromCart(item.product._id)">
            <i class="fa-solid fa-trash"></i> 
            {{"Cart.Delete"|translate}}
          </span>
        </div>
      </div>
      <!-- quantity -->
      <div class="col d-flex align-items-center justify-content-center gap-3">
        <button class="btn p-0 border-0" [disabled]="item.quantity === 1" (click)="updateQuantity(item.product._id,-1)"><span class="text-main cursor-pointer" ><i class="fa-solid fa-circle-minus fa-xl"></i></span></button>
        <span class="h5 m-0">{{item.quantity}}</span>
        <button class="btn p-0 border-0" (click)="updateQuantity(item.product._id,1)"><span class="text-main cursor-pointer"><i class="fa-solid fa-circle-plus fa-xl"></i></span></button>
      </div>  
      <div class="borderClass"></div>
    </div>
    }

  <button class="btn-main d-block mx-auto" [routerLink]="['/order',cartDetails()._id]">{{"Cart.Checkout"| translate}} </button>
</section>




<!-- 


@for (item of cartDetails.cart; track $index) {
  <div class="col-9 d-flex flex-row gap-3 g-4">
    <div class="col-2 ">
      <img [src]="item.product.images[0]"  class="w-100" alt="">
    </div>
    <div class="w-100">
      <h3 class="text-main">{{item.product.title}}</h3>
      <p class="text-muted">Quantity: {{item.quantity}}</p>
      <p class="text-muted">Price: {{item.product.price * item.quantity}}$</p>
      <button class="btn-main w-100" >Remove From Cart</button>
    </div>
      
    </div>
    <div class="col-md-3">
      sad
    </div>  
  }

-->




<!-- @for (item of cartDetails.cart; track $index) {
  <div class="row mb-2 border-bottom">
    image
    <div class="col-1">
      <img [src]="item.product.images[0]"  class="w-100" alt="">
    </div>
    details
    <div class="col-11">
      <div class="d-flex flex-row justify-content-between">
        <div class="">
          <h3 class="text-main h5">{{item.product.title}}</h3>
          <p class="text-muted">Price: {{item.product.price}}$</p>
          <button class="btn">
            <span class="text-danger">
              <i class="fa-solid fa-trash"></i> 
              Delete
            </span>
          </button>
        </div>
        <div class="">
          <span>
            <i class="fa-solid fa-minus"></i>
          </span>
          <span>
            {{item.quantity}}
          </span>
          <span>
            <i class="fa-solid fa-plus"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
}
-->